{% extends 'base.html' %}
{% block title %} Suppression {% endblock title %}

{% block content %}
<div class = "jumbotron">
 <h1>
     Suppression de compte
 </h1>
<p>

<form method="post">
    {{ form.hidden_tag() }}
    <div class = "col-sm-4 offset-4">
        <div class="form-group">
            {{form.id.label}}
            {{ form.id (class = "form-control") }}
        </div>
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Erreur!</strong> {{ msg }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        {% endfor %}
        <div class="form-group">
            {{ form.submit (class = "btn btn-primary mt-5") }}
        </div>
    </div>
</form>

</div>

{% endblock content %}